<p>directives works!</p>

<!--  1) STRUCTRURAL DIRECTIVES: *ngFor, *ngIf -->
<!--  2) ATTRIBUTE DIRECTIVES: [ngStyle], [ngClass] -->

<!-- *ngFor -->
<p *ngFor="let state of states">{{state}}</p>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td 
                [ngStyle]="{'color': user.age<35?'green':'red' }"
                [ngClass]="{ 'young':user.age<35 , 'old':user.age>35 }"
            >{{user.age}}</td>            
        </tr>
    </tbody>
</table>

<!-- *ngIf -->
<h1 *ngIf="isShow">heloooooooooooooo</h1>